<% content_for :page_title do %>
Liquidation Categories
<% end %>

<%= render 'shared/categories/index_list', categories: @liquidation_categories %>

<% content_for :side_panel do %>
<ul class="collection with-header">
  <li class="collection-header"><h5>Action</h5></li>
  <li>
    <%= link_to "Add Category", new_liquidation_category_path, class: "collection-item" %>
  </li>
</ul>
<% end %>