<% content_for :page_title do %>
<%= job_order_link(@job_order) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Liquidated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liquidations.each do |liquidation| %>
      <tr>
        <td><%= link_to liquidation.liquidated_by_name, edit_job_order_expense_liquidation_path(@job_order, @expense, liquidation) %></td>
        <td><%= link_to 'Destroy', [@job_order, @expense, liquidation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>